---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import HomeHeader from '../components/HomeHeader.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

import { Content } from '../content/project-tiles/rustcraft.md'
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<HomeHeader />
		<main>
			<p>
				I am a Front-End Developer with a passion for computer graphics.
			</p>
			<p>
				I take pride in my ability to turn complex ideas into simple and elegant solutions. I am always eager to take on new challenges and learn new technologies. My passion for graphics allows me to bring a unique perspective to my work and helps me create visually stunning interfaces.
			</p>
			<Content />
		</main>
		<Footer />
	</body>
</html>
