---
import { getCollection } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import HomeHeader from '../components/HomeHeader.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

// Get newest blog post
const posts = (await getCollection('blog'))
	.sort(
		(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
	)
	.filter((v) => v.data.unlisted !== true);

const newestPost = posts[0];
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} image={newestPost.data.image?.src} />
	</head>
	<body>
		<div class="content">
			<div style="position: absolute">
				<HomeHeader selected="home" absolute={true} />
			</div>
			<main class="main-page">
				<div class="section-1">
					<div class="title">
						<h1><span>H</span><span>i</span><span>,</span></h1>
						<h1>
							<span>I</span><span>'</span><span>m</span><div class="space"></div><span>M</span><span>a</span><span>r</span><span>s</span><span>h</span><span>a</span><span>l</span><span>l</span>
						</h1>
					</div>
					<p class="subtitle">
						I'm a Software Engineer with a passion for computer graphics & security.
					</p>
					<script>
						import { animate, stagger } from 'animejs';

						document.addEventListener("astro:page-load", () => {
							setTimeout(() => {
								animate('.main-page .title', {
									keyframes: {
										'0%': { opacity: 0, translateY: '2rem' },
										'100%': { opacity: 1, translateY: '0rem' },
									},
									duration: 500,
									ease: 'out(2.0)',
									autoplay: true,
								});

								animate('.main-page .subtitle', {
									keyframes: {
										'0%': { opacity: 0, translateY: '2.5rem', color: '#ffffff' },
										'100%': { opacity: 1, translateY: '0rem', color: '#0b0b0b' },
									},
									delay: 20,
									duration: 500,
									ease: 'out(2.0)',
									autoplay: true,
								});

								animate('.main-page .title span', {
									keyframes: {
										'0%': { color: 'hsla(130, 40%, 82%, 0)' },
										'55%': { color: 'hsl(255, 40%, 82%)' },
										'56%': { color: 'hsl(0, 40%, 82%)' },
										'100%': { color: 'hsl(106, 24%, 52%)' },
									},
									duration: 1000,
									ease: 'out(2.0)',
									autoplay: true,
									delay: stagger(20, { start: 100}),
								});
							}, 300)
						})
					</script>
				</div>
			</main>
		</div>
		<Footer />
	</body>
</html>

<style>
	.content {
        max-width: max(min(70vw, 1200px), 670px);
		margin: auto;
		position: relative;
	}

	main {
		padding: 0px;
	}
	.title {
		h1 {
			color: white;
			font-size: 5rem;
			display: flex;
			margin-bottom: 0px;
			line-height: 1.2;

			.space {
				width: 1.4rem;
			}
		}
	}

	.section-1 {
		height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: center;

		p {
			color: white;
		}
	}

	.section-2 {
		background-color: var(--accent);
		width: 100%;
	}

	.monstera {
		position: absolute;
		bottom: 0px;
		left: 0px;
		width: 300px;
		max-width: 30vw;
	}

	.hint {
		position: absolute;
		bottom: 0px;
		left: 0px;
		right: 0px;
		margin: auto;
		display: flex;
		flex-direction: column;
		align-items: center;
		color: var(--accent-light);
		bottom: 15px;
	}

	.personal-statement {
		color: white;
		padding: 24px 18px;
		display: flex;
		flex-direction: row;
		gap: 50px;
		font-style: italic;
		align-items: center;

		@media screen and (max-width: 800px) {
			gap: 20px;
		}

		@media screen and (max-width: 800px) {
			flex-direction: column;
		}

		img {
			width: 200px;
			border-radius: 200px;
		}
	}
</style>