---
import { getCollection } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import HomeHeader from '../components/HomeHeader.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

// Get newest blog post
const posts = (await getCollection('blog'))
	.sort(
		(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
	)
	.filter((v) => v.data.unlisted !== true);

const newestPost = posts[0];
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} image={newestPost.data.image?.src} />
	</head>
	<body>
		<div class="content">
			<div style="position: absolute">
				<HomeHeader selected="home" absolute={true} />
			</div>
			<main>
				<div class="section-1">
					<div class="title">
						<svg viewBox="0 0 535 172" fill="none" xmlns="http://www.w3.org/2000/svg">
							<g filter="url(#filter0_i_11_83)">
								<path d="M0.21875 71V5.54545H17.9886V31.1136H41.5114V5.54545H59.2812V71H41.5114V45.4318H17.9886V71H0.21875ZM67.9744 71V21.9091H85.6165V71H67.9744ZM76.7955 16.7955C74.4091 16.7955 72.3636 16.0071 70.6591 14.4304C68.9545 12.8537 68.1023 10.9574 68.1023 8.74148C68.1023 6.52557 68.9545 4.62926 70.6591 3.05255C72.3636 1.47585 74.4091 0.6875 76.7955 0.6875C79.2031 0.6875 81.2486 1.47585 82.9318 3.05255C84.6364 4.62926 85.4886 6.52557 85.4886 8.74148C85.4886 10.9574 84.6364 12.8537 82.9318 14.4304C81.2486 16.0071 79.2031 16.7955 76.7955 16.7955ZM111.736 62.0511L111.48 65.6307C111.267 68.6989 110.756 71.6392 109.946 74.4517C109.158 77.2642 108.316 79.7571 107.421 81.9304C106.548 84.1037 105.855 85.7869 105.344 86.9801H94.4775C94.8184 85.7869 95.2978 84.0611 95.9157 81.8026C96.5549 79.5653 97.1301 77.0298 97.6415 74.196C98.1742 71.3835 98.4405 68.5284 98.4405 65.6307V62.0511H111.736ZM17.9886 105.545V171H0.21875V105.545H17.9886ZM41.2397 105.545V113.216C41.2397 115.304 40.8136 117.392 39.9613 119.48C39.1303 121.547 38.065 123.475 36.7653 125.265C35.4869 127.033 34.1658 128.514 32.8022 129.707L25.5153 126C26.4102 124.466 27.2092 122.687 27.9123 120.663C28.6154 118.638 28.967 116.156 28.967 113.216V105.545H41.2397ZM47.8475 171V121.909H64.5946V131.241H65.106C66.1287 128.173 67.8759 125.744 70.3475 123.955C72.8191 122.165 75.7594 121.27 79.1685 121.27C82.6202 121.27 85.5925 122.186 88.0854 124.018C90.5783 125.83 92.0804 128.237 92.5918 131.241H93.1032C93.9341 128.237 95.7026 125.83 98.4086 124.018C101.115 122.186 104.289 121.27 107.933 121.27C112.642 121.27 116.455 122.783 119.374 125.808C122.315 128.834 123.785 132.861 123.785 137.889V171H106.143V142.364C106.143 140.212 105.6 138.528 104.513 137.314C103.426 136.078 101.967 135.46 100.134 135.46C98.3233 135.46 96.8851 136.078 95.8198 137.314C94.7757 138.528 94.2537 140.212 94.2537 142.364V171H77.3787V142.364C77.3787 140.212 76.8354 138.528 75.7488 137.314C74.6621 136.078 73.2026 135.46 71.3702 135.46C70.1557 135.46 69.1117 135.737 68.2381 136.291C67.3645 136.845 66.6827 137.644 66.1927 138.688C65.7239 139.711 65.4895 140.936 65.4895 142.364V171H47.8475ZM150.16 105.545H172.277L187.49 142.619H188.257L203.47 105.545H225.586V171H208.2V133.159H207.689L193.115 170.489H182.632L168.058 132.903H167.547V171H150.16V105.545ZM247.942 171.767C244.81 171.767 242.04 171.256 239.633 170.233C237.246 169.189 235.371 167.612 234.008 165.503C232.644 163.393 231.962 160.709 231.962 157.449C231.962 154.764 232.42 152.474 233.337 150.577C234.253 148.66 235.531 147.094 237.172 145.879C238.812 144.665 240.719 143.738 242.893 143.099C245.087 142.46 247.452 142.044 249.988 141.852C252.737 141.639 254.942 141.384 256.604 141.085C258.287 140.766 259.501 140.329 260.247 139.775C260.993 139.2 261.366 138.443 261.366 137.506V137.378C261.366 136.099 260.876 135.119 259.896 134.438C258.915 133.756 257.658 133.415 256.124 133.415C254.441 133.415 253.067 133.788 252.001 134.533C250.957 135.258 250.329 136.376 250.116 137.889H233.88C234.093 134.906 235.041 132.158 236.724 129.643C238.429 127.108 240.911 125.084 244.171 123.571C247.431 122.037 251.501 121.27 256.38 121.27C259.896 121.27 263.049 121.685 265.84 122.516C268.631 123.326 271.007 124.466 272.967 125.936C274.928 127.385 276.419 129.089 277.442 131.05C278.486 132.989 279.008 135.098 279.008 137.378V171H262.516V164.097H262.133C261.153 165.929 259.96 167.41 258.553 168.539C257.168 169.668 255.581 170.489 253.791 171C252.023 171.511 250.073 171.767 247.942 171.767ZM253.695 160.645C255.038 160.645 256.295 160.368 257.467 159.814C258.66 159.26 259.629 158.461 260.375 157.417C261.121 156.373 261.494 155.105 261.494 153.614V149.523C261.025 149.714 260.524 149.896 259.991 150.066C259.48 150.237 258.926 150.396 258.33 150.545C257.754 150.695 257.136 150.833 256.476 150.961C255.837 151.089 255.165 151.206 254.462 151.312C253.099 151.526 251.98 151.877 251.107 152.367C250.254 152.836 249.615 153.422 249.189 154.125C248.784 154.807 248.582 155.574 248.582 156.426C248.582 157.79 249.061 158.834 250.02 159.558C250.979 160.283 252.204 160.645 253.695 160.645ZM287.437 171V121.909H304.568V131.241H305.079C305.974 127.79 307.391 125.265 309.33 123.667C311.29 122.069 313.581 121.27 316.202 121.27C316.969 121.27 317.725 121.334 318.471 121.462C319.238 121.568 319.973 121.728 320.676 121.941V136.994C319.802 136.696 318.726 136.472 317.448 136.323C316.17 136.174 315.072 136.099 314.156 136.099C312.43 136.099 310.875 136.494 309.49 137.282C308.126 138.049 307.05 139.136 306.262 140.542C305.474 141.927 305.079 143.557 305.079 145.432V171H287.437ZM371.333 137.889H355.097C355.012 136.888 354.66 136.025 354.042 135.3C353.425 134.576 352.626 134.022 351.645 133.638C350.687 133.234 349.621 133.031 348.449 133.031C346.937 133.031 345.637 133.308 344.55 133.862C343.464 134.416 342.931 135.205 342.952 136.227C342.931 136.952 343.24 137.623 343.879 138.241C344.54 138.859 345.807 139.338 347.682 139.679L357.654 141.469C362.682 142.385 366.422 143.93 368.872 146.103C371.344 148.255 372.59 151.142 372.611 154.764C372.59 158.259 371.546 161.295 369.479 163.873C367.434 166.43 364.632 168.411 361.074 169.817C357.537 171.202 353.499 171.895 348.961 171.895C341.461 171.895 335.591 170.361 331.351 167.293C327.132 164.224 324.778 160.176 324.287 155.148H341.802C342.036 156.703 342.803 157.907 344.103 158.759C345.424 159.59 347.086 160.006 349.089 160.006C350.708 160.006 352.04 159.729 353.084 159.175C354.149 158.621 354.692 157.832 354.714 156.81C354.692 155.872 354.224 155.126 353.307 154.572C352.412 154.018 351.006 153.571 349.089 153.23L340.395 151.696C335.388 150.822 331.638 149.161 329.145 146.71C326.653 144.26 325.417 141.107 325.438 137.25C325.417 133.841 326.312 130.954 328.123 128.589C329.955 126.202 332.565 124.391 335.953 123.156C339.362 121.898 343.4 121.27 348.066 121.27C355.161 121.27 360.754 122.74 364.845 125.68C368.957 128.621 371.12 132.69 371.333 137.889ZM397.013 143.386V171H379.371V105.545H396.374V131.241H396.885C397.993 128.109 399.836 125.67 402.414 123.923C404.992 122.154 408.093 121.27 411.715 121.27C415.188 121.27 418.203 122.058 420.759 123.635C423.338 125.212 425.33 127.385 426.736 130.155C428.164 132.925 428.867 136.099 428.845 139.679V171H411.203V143.386C411.225 140.957 410.617 139.05 409.382 137.665C408.167 136.281 406.431 135.588 404.172 135.588C402.744 135.588 401.487 135.908 400.401 136.547C399.335 137.165 398.504 138.06 397.908 139.232C397.333 140.382 397.034 141.767 397.013 143.386ZM451.233 171.767C448.101 171.767 445.331 171.256 442.924 170.233C440.537 169.189 438.662 167.612 437.299 165.503C435.935 163.393 435.253 160.709 435.253 157.449C435.253 154.764 435.711 152.474 436.628 150.577C437.544 148.66 438.822 147.094 440.463 145.879C442.104 144.665 444.01 143.738 446.184 143.099C448.378 142.46 450.743 142.044 453.279 141.852C456.028 141.639 458.233 141.384 459.895 141.085C461.578 140.766 462.792 140.329 463.538 139.775C464.284 139.2 464.657 138.443 464.657 137.506V137.378C464.657 136.099 464.167 135.119 463.187 134.438C462.206 133.756 460.949 133.415 459.415 133.415C457.732 133.415 456.358 133.788 455.292 134.533C454.248 135.258 453.62 136.376 453.407 137.889H437.171C437.384 134.906 438.332 132.158 440.015 129.643C441.72 127.108 444.202 125.084 447.462 123.571C450.722 122.037 454.792 121.27 459.671 121.27C463.187 121.27 466.34 121.685 469.131 122.516C471.922 123.326 474.298 124.466 476.258 125.936C478.219 127.385 479.71 129.089 480.733 131.05C481.777 132.989 482.299 135.098 482.299 137.378V171H465.807V164.097H465.424C464.444 165.929 463.251 167.41 461.844 168.539C460.459 169.668 458.872 170.489 457.082 171C455.314 171.511 453.364 171.767 451.233 171.767ZM456.986 160.645C458.329 160.645 459.586 160.368 460.758 159.814C461.951 159.26 462.92 158.461 463.666 157.417C464.412 156.373 464.785 155.105 464.785 153.614V149.523C464.316 149.714 463.815 149.896 463.282 150.066C462.771 150.237 462.217 150.396 461.621 150.545C461.045 150.695 460.427 150.833 459.767 150.961C459.128 151.089 458.457 151.206 457.753 151.312C456.39 151.526 455.271 151.877 454.398 152.367C453.545 152.836 452.906 153.422 452.48 154.125C452.075 154.807 451.873 155.574 451.873 156.426C451.873 157.79 452.352 158.834 453.311 159.558C454.27 160.283 455.495 160.645 456.986 160.645ZM508.37 105.545V171H490.728V105.545H508.37ZM535.001 105.545V171H517.359V105.545H535.001Z" fill="#75A267"/>
							</g>
							<defs>
								<filter id="filter0_i_11_83" x="0.21875" y="0.6875" width="534.782" height="173.207" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
									<feFlood flood-opacity="0" result="BackgroundImageFix"/>
									<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
									<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
									<feOffset dy="2"/>
									<feGaussianBlur stdDeviation="2"/>
									<feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1"/>
									<feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
									<feBlend mode="normal" in2="shape" result="effect1_innerShadow_11_83"/>
								</filter>
							</defs>
						</svg>
					</div>
					<p>
						I'm a Software Engineer with a passion for computer graphics.
					</p>
				</div>
			</main>
		</div>
		<Footer />
	</body>
</html>

<style>
	.content {
        max-width: max(min(70vw, 1200px), 670px);
		margin: auto;
		position: relative;
	}

	main {
		padding: 0px;
	}
	.title {
		width: max(min(100%, 500px), 180px);

		svg {
			width: 100%;
		}
	}

	.section-1 {
		height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.section-2 {
		background-color: var(--accent);
		width: 100%;
	}

	.monstera {
		position: absolute;
		bottom: 0px;
		left: 0px;
		width: 300px;
		max-width: 30vw;
	}

	.hint {
		position: absolute;
		bottom: 0px;
		left: 0px;
		right: 0px;
		margin: auto;
		display: flex;
		flex-direction: column;
		align-items: center;
		color: var(--accent-light);
		bottom: 15px;
	}

	.personal-statement {
		color: white;
		padding: 24px 18px;
		display: flex;
		flex-direction: row;
		gap: 50px;
		font-style: italic;
		align-items: center;

		@media screen and (max-width: 800px) {
			gap: 20px;
		}

		@media screen and (max-width: 800px) {
			flex-direction: column;
		}

		img {
			width: 200px;
			border-radius: 200px;
		}
	}
</style>