---
import { getCollection } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import HomeHeader from '../components/HomeHeader.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import RiveAnimation from '../components/RiveAnimation.astro';

// Get newest blog post
const posts = (await getCollection('blog'))
	.sort(
		(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
	)
	.filter((v) => v.data.unlisted !== true);

const newestPost = posts[0];
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} image={newestPost.data.image?.src} />
	</head>
	<body>
		<div class="content">
			<div style="position: absolute">
				<HomeHeader selected="home" absolute={true} />
			</div>
			<main>
				<div class="section-1">
					<div class="title">
						<RiveAnimation />
					</div>
					<p>
						I'm a Software Engineer with a passion for computer graphics.
					</p>
				</div>
			</main>
		</div>
		<Footer />
	</body>
</html>

<style>
	.content {
        max-width: max(min(70vw, 1200px), 670px);
		margin: auto;
		position: relative;
	}

	main {
		padding: 0px;
	}
	.title {
		width: max(min(100%, 500px), 180px);

		svg {
			width: 100%;
		}
	}

	.section-1 {
		height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.section-2 {
		background-color: var(--accent);
		width: 100%;
	}

	.monstera {
		position: absolute;
		bottom: 0px;
		left: 0px;
		width: 300px;
		max-width: 30vw;
	}

	.hint {
		position: absolute;
		bottom: 0px;
		left: 0px;
		right: 0px;
		margin: auto;
		display: flex;
		flex-direction: column;
		align-items: center;
		color: var(--accent-light);
		bottom: 15px;
	}

	.personal-statement {
		color: white;
		padding: 24px 18px;
		display: flex;
		flex-direction: row;
		gap: 50px;
		font-style: italic;
		align-items: center;

		@media screen and (max-width: 800px) {
			gap: 20px;
		}

		@media screen and (max-width: 800px) {
			flex-direction: column;
		}

		img {
			width: 200px;
			border-radius: 200px;
		}
	}
</style>