---
import { Icon } from 'astro-icon/components';
import { getCollection } from 'astro:content';

const collection = await getCollection('projectTiles');

type Props = { stub: string };

const collectionEntry = collection.find(({ slug }) => slug === Astro.props.stub)

if (!collectionEntry) {
	throw new Error('Project not found');
}

const { title, tags, color, cover } = collectionEntry.data;
const { Content } = await collectionEntry.render()

let TitleComponent;

switch(collectionEntry.slug) {
	case 'ruby-sweeps':
		TitleComponent = (await import('../components/titles/RubySweeps.astro')).default;
		break;
	case 'rustcraft':
		TitleComponent = (await import('../components/titles/Rustcraft.astro')).default;
		break;
	case 'flixr':
		TitleComponent = (await import('../components/titles/Flixr.astro')).default;
		break;
}
---

<tile>
	<div
		class="title"
	>
		<TitleComponent />
	</div>

	<div
		class="tags"
	>
		{tags.map(tag => (
			<span>{tag}</span>
		))}
	</div>

	<Content />

	<img
		class="cover shadow"
		src={cover.src}
	/>
</tile>

<style define:vars={{ color }}>

	.title {
		padding-bottom: 8px;
	}

	.tags {
		display: flex;
		flex-wrap: wrap;
		gap: 6px;

		span {
			user-select: none;
			background: color-mix(in srgb, var(--color) 20%, transparent);
			padding: 4px 12px;
			border-radius: 50px;
			font-size: 12px;
			color: color-mix(in srgb, var(--color) 60%, #3838387c);
		}
	}

	article {
		padding: 20px;
	}
</style>