---
import { getCollection } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import HomeHeader from '../components/HomeHeader.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { Icon } from 'astro-icon/components';
import MarshallScott from '../components/titles/MarshallScott.astro';

// Get newest blog post
const posts = (await getCollection('blog'))
	.sort(
		(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
	)
	.filter((v) => v.data.unlisted !== true);

const newestPost = posts[0];
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} image={newestPost.data.image?.src} />
	</head>
	<body>
		<div class="content">
			<div style="position: absolute">
				<HomeHeader selected="home" absolute={true} />
			</div>
			<main class="main-page">
				<div class="section-1">
					<MarshallScott />
					<p class="subtitle">
						I'm a Software Engineer with a passion for computer graphics & security.
					</p>
				</div>
				<a class="experiment" href="/experiments/ants" title="Ant Simulation">
					<span>🐜 🐜 Check out my latest experiment</span>
					<Icon
						id="open-navigation-menu"
						name="mingcute:right-line"
						onclick="openNav()"
					/>
				</a>
			</main>
		</div>
		<Footer />
	</body>
</html>

<noscript>
	<style lang="scss">
		/* Fallback to showing the title immediately for no JS */
		.title h1 {
			color: var(--accent) !important; 
		}

		.section-1 p {
			color: black !important;
		}
	</style>
</noscript>

<style lang="scss">
	.content {
        max-width: max(min(70vw, 1200px), 670px);
		margin: auto;
		position: relative;
	}

	main {
		padding: 0px;
	}

	.section-1 {
		height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: center;

		p {
			color: white;
		}
	}

	.experiment {
		background-color: rgb(var(--gray-light));
		border-radius: 6px;
		padding: 12px 24px;
		color: rgb(65, 65, 65) !important;
		text-decoration: none;
		display: flex;
		align-items: center;
		flex-direction: row;
		position: absolute;
		bottom: 24px;
		right: 8px;
		font-size: 16px;
	}
</style>