---
import BaseHead from '../../components/BaseHead.astro';
import Footer from '../../components/Footer.astro';
import HomeHeader from '../../components/HomeHeader.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import Ants from '../../experiments/ant/Ants.astro';
import Disclaimer from '../../experiments/Disclaimer.astro';

---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<div class="content">
			<HomeHeader selected="home" absolute={true} />
			<Disclaimer />
			<main class="main-page">
				<Ants>
			</main>
		</div>
		<Footer />
	</body>
</html>

<noscript>
	<style>
		/* Fallback to showing the title immediately for no JS */
		.title h1 {
			color: var(--accent) !important; 
		}

		.section-1 p {
			color: black !important;
		}
	</style>
</noscript>

<style>
	.content {
        max-width: max(min(70vw, 1200px), 670px);
		margin: auto;
		position: relative;
	}

	main {
		padding: 0px;
	}
	.title {
		h1 {
			color: white;
			font-size: 5rem;
			display: flex;
			margin-bottom: 0px;
			line-height: 1.2;

			.space {
				width: 1.4rem;
			}
		}
	}

	.section-1 {
		height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: center;

		p {
			color: white;
		}
	}

	.section-2 {
		background-color: var(--accent);
		width: 100%;
	}

	.monstera {
		position: absolute;
		bottom: 0px;
		left: 0px;
		width: 300px;
		max-width: 30vw;
	}

	.hint {
		position: absolute;
		bottom: 0px;
		left: 0px;
		right: 0px;
		margin: auto;
		display: flex;
		flex-direction: column;
		align-items: center;
		color: var(--accent-light);
		bottom: 15px;
	}

	.personal-statement {
		color: white;
		padding: 24px 18px;
		display: flex;
		flex-direction: row;
		gap: 50px;
		font-style: italic;
		align-items: center;

		@media screen and (max-width: 800px) {
			gap: 20px;
		}

		@media screen and (max-width: 800px) {
			flex-direction: column;
		}

		img {
			width: 200px;
			border-radius: 200px;
		}
	}
</style>