<div class="disclaimer">
    <h5>⚠️ Experiment Disclaimer</h5>
    <p>This is untested, experiemental work I put together without regard for compatibility or performance.</p>
</div>

<style>
    .disclaimer {
        font-size: 16px;
        background-color: rgb(255, 240, 240);
        padding: 18px;
        border-radius: 8px;
        max-width: 600px;
        margin: auto;
        margin-bottom: 16px;

        p, h5 {
            color: rgb(104, 55, 55);
        }

        p {
            margin-bottom: 0px;
        }
    }
</style>