---
import { Icon } from 'astro-icon/components'
const today = new Date();
---

<footer>
	&copy; {today.getFullYear()} Marshall Scott. All rights reserved.
	<div class="social-links">
		<a href="https://bsky.app/profile/darkzek.bsky.social" target="_blank">
			<span class="sr-only">Follow me on Bluesky</span>
			<Icon name="bluesky" />
		</a>
		<a href="https://github.com/darkzek" target="_blank">
			<span class="sr-only">Follow me on Github</span>
			<Icon name="github" />
		</a>
		<a href="https://www.linkedin.com/in/marshall-scott-746989167/" target="_blank">
			<span class="sr-only">Connect with me on Linkedin</span>
			<Icon name="linkedin" />
		</a>
	</div>
</footer>
<style lang="scss">
	footer {
		padding: 2em 1em 6em 1em;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: rgb(var(--gray));
		text-align: center;
	}
	.social-links {
		display: flex;
		justify-content: center;
		gap: 1em;
		margin-top: 1em;
	}
	.social-links a {
		text-decoration: none;
		color: rgb(var(--gray));
	}
	.social-links a:hover {
		color: rgb(var(--gray-dark));
	}
	[data-icon] {
		font-size: 2.2rem;
	}
</style>
