---
import { Icon } from "astro-icon/components"
---

<nav
    id="navigation-menu"
>
    <a href="/">Home</a>
    <a href="/blog">Blog</a>
    <a href="/projects">Projects</a>
    <Icon
        id="navigation-close"
        name="mingcute:close-line"
        class="exit"
        onclick="closeNav()"
    />
</nav>

<script>
    (window as any).closeNav = () => {
        document.getElementById('navigation-menu')?.removeAttribute('open')
    }
</script>

<style lang="scss">

nav {
    background-color: white;
    display: flex;
    flex-direction: column;

    position: fixed;
    inset: 0px;
    padding: 32px;

    visibility: hidden;
    user-select: none;

    z-index: 10;
    height: 70px;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);

    transition: height 0.3s ease, background-color 0.3s ease-in;

    a {
        color: #383838;
        text-decoration: none;
        font-weight: bold;
        font-size: 24px;
        line-height: 200%;
    }

    &[open] {
        visibility: visible;
        height: 100vh;
        background-color: rgba(255, 255, 255, 0.8);
    }
}

.exit {
    position: absolute;
    right: 24px;
    top: 24px;
    font-size: 24px;
    cursor: pointer;

    &:hover {
        color: #c71717;
    }
}

</style>