---
---

<div
    class="animation-sizer"
>
    <canvas
        id="canvas"
    ></canvas>
</div>

<style lang="scss">
    .animation-sizer {
        aspect-ratio: 1000 / 430;
        width: min(600px, 100%);

        #canvas {
            display: flex;
            width: 100%;
            height: 100%;
        }
    }
</style>

<script>
    import { Rive } from "@rive-app/canvas"
    import NameRiv from '../content/name.riv?url'

    function show() {

        const sizer = document.querySelector('.animation-sizer')! as HTMLElement
        const canvas = document.getElementById("canvas")! as HTMLCanvasElement
        if (!canvas || !sizer) return

        let animation: Rive
        // TODO: Get aspect ratio as prop
        const aspectRatio = 1000 / 430

        const dpr = window.devicePixelRatio

        function updateCanvasSize() {
            const newWidth = sizer.clientWidth * dpr
            const newHeight = newWidth / aspectRatio
            
            if (canvas.width === newWidth && canvas.height === newHeight) return
            canvas.width = newWidth
            canvas.height = newHeight

            if (animation) {
                animation.resizeToCanvas()
                animation.startRendering()
            }
        }

        updateCanvasSize()
        window.addEventListener('resize', updateCanvasSize)

        animation = new Rive({
            src: NameRiv,
            canvas,
            autoplay: true
        });
    }
    document.addEventListener('astro:page-load', show);
</script>