

<span>
    <slot />
</span>

<script>
    const fonts = [
        'https://fonts.gstatic.com/s/atma/v16/uK_z4rqWc-Eoo8JzGjA3P9WeVkI.woff2',
        'https://fonts.gstatic.com/s/dmseriftext/v12/rnCu-xZa_krGokauCeNq1wWyWfSFXVAKArc.woff2',
        'https://fonts.gstatic.com/s/iceberg/v24/8QIJdijAiM7o-qnZiI8EqprnEO0.woff2',
        'https://fonts.gstatic.com/s/yesteryear/v19/dg4g_p78rroaKl8kRKo1n7sNTigkiy0.woff2',
        'https://fonts.gstatic.com/s/lavishlyyours/v5/jizDREVIvGwH5OjiZmX9r5z_WyUf2zcZiVbJ.woff2',
        'https://fonts.gstatic.com/s/nuosusil/v10/8vIK7wM3wmRn_kc4uAjuE2ZaGf_4-g.woff2'
    ];

    // Randomly pick font
    const randomIndex = Math.floor(Math.random() * fonts.length);
    const url = fonts[randomIndex];

    // Load font
    const fontFile = new FontFace(
        'Name',
        `url(${url})`,
    );

    document.fonts.add(fontFile);
</script>

<style>
    span {
        font-family: 'Name', 'Inter', sans-serif;
    }
</style>