---
import { Icon } from 'astro-icon/components'
import NavigationMenu from './NavigationMenu.astro';
import FontChangingEffect from './FontChangingEffect.astro';

const { selected } = Astro.props;
---

<div
    transition:name="header"
    class="sizer"
>
    <header>
        <div class="left">
            <a
                class="name"
                href="/"
            >
                <FontChangingEffect>
                    Marshall Scott
                </FontChangingEffect>
            </a>
        </div>
        <div class="center">
            <div class="navigation">
                <a
                    class={selected === 'home' ? 'selected' : ''}
                    href="/"
                >
                    Home
                </a>
                <a
                    class={selected === 'blog' ? 'selected' : ''}
                    href="/blog"
                >
                    Blog
                </a>
                <a
                    class={selected === 'projects' ? 'selected' : ''}
                    href="/projects"
                >
                    Projects
                </a>
            </div>
            <Icon
                id="hamburger"
                name="mingcute:menu-line"
            />
        </div>
        <div class="right socials">
            <a href="https://bsky.app/profile/darkzek.bsky.social" target="_blank">
                <span class="sr-only">Follow me on Bluesky</span>
                <Icon name="bluesky" />
            </a>
            <a href="https://github.com/darkzek" target="_blank">
                <span class="sr-only">Follow me on Github</span>
                <Icon name="github" />
            </a>
            <a href="https://www.linkedin.com/in/marshall-scott-746989167/" target="_blank">
                <span class="sr-only">Connect with me on Linkedin</span>
                <Icon name="linkedin" />
            </a>
        </div>
    </header>
</div>

<div class="gap"/>

<NavigationMenu />

<script>
    document.addEventListener('astro:page-load', () => {
        document.getElementById('hamburger')?.addEventListener('click', () => {
            const nav = document.getElementById('navigation-menu')
            nav?.setAttribute('open', '')
        });
    });
</script>

<style>
    
    .gap { 
        height: 79px;
    }

    .sizer {
        width: 100%;
        left: 0px;
        right: 0px;
        margin: auto;
        position: fixed;
        background-color: rgba(255, 255, 255, 0.8);
        backdrop-filter: blur(10px);
        z-index: 5;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 16px 32px;
        max-width: 800px;
        width: calc(100vw - 32px);

        > div {
            flex: 1 0 0;
            display: flex;
            justify-content: center;
            flex-direction: column;
        }

        .center {
            flex-grow: 0;
        }

        .right {
            flex-direction: row-reverse;
            padding-left: 12px;
            justify-content: flex-start;
        }

        .left {
            padding-right: 12px;
        }
    }

    @media screen and (max-width: 750px) {
        .socials {
            display: none !important;
        }
    }

    .socials {
        font-size: 2.2rem;
        height: 1em;

        a {
            color: var(--accent-light);
            text-decoration: none;
            margin-left: 16px;
            transition: color 0.2s ease-in-out;

            &:hover {
                color: var(--accent);
            }
        }
    }

    .navigation {
        background-color: #F0F0F0;
        padding: 6px 8px;
        border-radius: 100px;
        display: flex;
        
        a {
            color: var(--accent-light);
            text-decoration: none !important;
            padding: 4px 25px;
            border-radius: 100px;
            font-size: 16px;
            user-select: none;

            &:hover {
                color: var(--accent);
            }

            &.selected {
                background-color: var(--accent);
                color: white !important;
                box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
            }
        }
    }

    @media screen and (max-width: 550px) {
        #hamburger {
            display: block !important;
        }

        .navigation {
            display: none;
        }
        
    }

    #hamburger {
        display: none;
        font-size: 1.8rem;
        color: var(--accent-light);
        cursor: pointer;
    }

    .name {
        color: var(--accent-light);
        white-space: nowrap;
        padding-right: 8px;
        text-decoration: none;
        font-size: 22px;
    }
</style>