---
import { Icon } from 'astro-icon/components'

const { selected, absolute } = Astro.props;
---

<div class="sizer" style={`position: ${absolute ? 'absolute' : 'unset'}`}>
    <header>
        <div class="left">
            <span class="name">Marshall Scott</span>
        </div>
        <div class="center">
            <div class="navigation">
                <a class={selected === 'home' ? 'selected' : ''} href="/">Home</a>
                <a class={selected === 'blog' ? 'selected' : ''} href="/blog">Blog</a>
                <a class={selected === 'projects' ? 'selected' : ''} href="/projects">Projects</a>
            </div>
            <Icon class="hamburger" name="mingcute:menu-line" />
        </div>
        <div class="right socials">
            <a href="https://bsky.app/profile/darkzek.bsky.social" target="_blank">
                <span class="sr-only">Follow me on Bluesky</span>
                <Icon name="bluesky" />
            </a>
            <a href="https://github.com/darkzek" target="_blank">
                <span class="sr-only">Follow me on Github</span>
                <Icon name="github" />
            </a>
            <a href="https://www.linkedin.com/in/marshall-scott-746989167/" target="_blank">
                <span class="sr-only">Connect with me on Linkedin</span>
                <Icon name="linkedin" />
            </a>
        </div>
    </header>
</div>

<style>
    .sizer {
        position: absolute;
        width: 100%;
        left: 0px;
        right: 0px;
        margin: auto;
    }

    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 16px 32px;

        > div {
            flex: 1 0 0;
            display: flex;
            justify-content: center;
            flex-direction: column;
        }

        .center {
            flex-grow: 0;
        }

        .right {
            flex-direction: row-reverse;
        }
    }

    @media screen and (max-width: 700px) {
        .socials {
            display: none !important;
        }
    }

    .socials {
        font-size: 2.2rem;
        height: 1em;

        a {
            color: var(--accent-light);
            text-decoration: none;
            margin-left: 16px;
            transition: color 0.2s ease-in-out;

            &:hover {
                color: var(--accent);
            }
        }
    }

    .navigation {
        background-color: #F0F0F0;
        padding: 6px 8px;
        border-radius: 100px;
        display: flex;
        
        a {
            color: var(--accent-light);
            text-decoration: none !important;
            padding: 4px 25px;
            border-radius: 100px;
            font-size: 16px;
            user-select: none;

            &:hover {
                color: var(--accent);
            }

            &.selected {
                background-color: var(--accent);
                color: white !important;
                box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
            }
        }
    }

    @media screen and (max-width: 550px) {
        .hamburger {
            display: block !important;
        }

        .navigation {
            display: none;
        }
        
    }

    .hamburger {
        display: none;
        font-size: 1.8rem;
        color: var(--accent-light);
        cursor: pointer;
    }

    .name {
        color: var(--accent-light);
        white-space: nowrap;
        padding-right: 8px;
    }
</style>