---
import { Icon } from 'astro-icon/components'
---

<a href="https://bsky.app/profile/darkzek.bsky.social" target="_blank">
    <span class="sr-only">Follow me on Bluesky</span>
    <Icon name="bluesky" />
</a>
<a href="https://github.com/darkzek" target="_blank">
    <span class="sr-only">Follow me on Github</span>
    <Icon name="github" />
</a>
<a href="https://www.linkedin.com/in/marshall-scott-746989167/" target="_blank">
    <span class="sr-only">Connect with me on Linkedin</span>
    <Icon name="linkedin" />
</a>